.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 8vh;
    backdrop-filter: blur(20px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    z-index: 10000;
}

.logo_nav img {
    width: 3rem;
}

.logo_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links li {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: $white;
    transition: all 0.3s;
    font-family: $font-Roboto;
    font-weight: 500;
}

.links a:hover {
    color: $red-orange;
}

.logo_nav a {
    font-size: 1.5rem;
    font-family: $font-LeagueSpartan;
    text-decoration: none;
    transition: all 0.3s;
    color: $white;
    font-weight: 700;
}

.logo_nav a:hover {
    color: $red-orange;
}

.links {
    display: flex;
    gap: 2rem;
}

.btn_toggle {
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_navbar {
    display: none;
    position: fixed;
    right: 2rem;
    height: 0;
    top: 90px;
    width: 300px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_navbar.open {
    height: 130px;
}

.dropdown_navbar li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_navbar a {
    color: $white;
    text-decoration: none;
    transition: all 0.3s;
    font-family: $font-Roboto;
}

.dropdown_navbar a:hover {
    color: $red-orange;
}

@media(max-width:1000px) {

    .links,
    .btn_nav {
        display: none;
    }

    .btn_toggle {
        display: block;
    }

    .dropdown_navbar {
        display: block;
    }

    .logo_nav a {
        font-size: 1.2rem;
        margin-top: 8px;
    }

    .logo_nav img {
        width: 2rem;
    }

    .logo_nav {
        gap: 5px;
    }

}

@media(max-width:550px) {
    .dropdown_navbar {
        left: 2rem;
        width: unset;
    }
}