.container_message_queu .toast {
    position: relative;
    width: 400px;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background-color: $dark-blue;
    justify-content: space-between;
    overflow: hidden;
    z-index: 11111 !important;
    animation:
        show_toast 0.3s ease forwards,
        hide_toast 0.3s 4.5s ease forwards;
}

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}


@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(110%);
    }
}

.container_message_queu :where(.toast, .column) {
    display: flex;
    align-items: center;
}

.toast::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $white;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast.success::before {
    background-color: $green;
}

.toast.info::before {
    background-color: $blue;
}

.toast.warning::before {
    background-color: $yellow;
}

.toast.danger::before {
    background-color: $red-orange;
}

.toast.error::before {
    background-color: $red-orange;
}

.toast.success .column i {
    color: $green;
}

.toast.info .column i {
    color: $blue;
}

.toast.warning .column i {
    color: $yellow;
}

.toast.danger .column i {
    color: $red-orange;
}

.toast.error .column i {
    color: $red-orange;
}

.toast .column i {
    font-size: 1.75rem;
}

.toast .column span {
    font-size: 1.07rem !important;
    margin-left: 12px !important;
}

.toast i:last-child {
    color: $dark-grey;
    cursor: pointer;
    transition: all 0.2s;
}

.toast i:last-child:hover {
    color: $orange;
}

.container_message_queu .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}

@media(max-width:440px) {

    .container_message_queu .toast {
        width: 300px;
    }

}

@media(max-width:340px) {

    .container_message_queu .toast {
        width: 220px;

    }

    .toast .column span {
        font-size: 0.8rem !important;
        margin-left: 12px;
    }

}