.content_admin {
    background-color: $white;
    height: 100vh;
    width: 80%;
    position: fixed;
    z-index: 3000;
    overflow-y: scroll;
    margin-top: 20px !important;
    margin-left: 20% !important;
    border-top-left-radius: 30px;
}

@media(max-width:650px),
(max-height:450px) {

    .content_admin {
        position: relative;
        margin-left: 0 !important;
        border-top-left-radius: 0;
        width: 100%;
        height: auto;
        z-index: 3000;
        margin-top: 20px !important;
    }

}