.danger_banner_left {
    width: 200px;
    padding: 10px;
}

.danger_banner_left img {
    width: 100%;
}

.danger_banner_right {
    width: 65%;
    padding: 10px
}

.danger_banner_right h1 {
    font-size: 18px;
    font-weight: 700;
    color: $white;
}

.contain_alert {
    margin: 10px;
}

.contain_message_banner {
    width: 100%;
    background-color: #FF5E5E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    border-radius: 12px;
    padding: 10px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    animation: appear 0.6s ease;

    margin-top: 10px;
}

.container_supp_alert {
  width: 100%;
  display: flex;
  justify-content: end;
}

.supp_alert{
    padding: 8px;
    min-width: 220px;
    border-radius: 54px;
    border: none;
    background-color: #ec3c3c;
    font-size: 1.2rem;
    transition: all 0.2s;
    color: #ffffff;

}