.content_user_profil {
    width: 100%;
    position: relative;
    //left: 20%;
    padding-top: 30px;
    padding-bottom: 40px;
}

.container_btns_settings {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px 0 50px;
}

.container_btns_settings button {
    width: 200px;
    padding: 15px;
    border-radius: 54px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.container_btns_settings button:nth-child(1) {
    background-color: $green;
    color: $white;
}

.container_btns_settings button:nth-child(2) {
    background-color: $yellow;
    color: $white;
}

.container_btns_settings button:nth-child(4) {
    background-color: $blue;
    color: $white;
}

.container_btns_settings button:nth-child(3) {
    width: 250px !important;
    background-color: $red-orange;
    color: $white;
}

.container_dropdown_for_settings {
    width: 200px;
}

.container_mypost_tomap {
    margin: 0 100px 0 100px;
}

.loader_formypost {
    height: 200px !important;
}

.container_loot {
    margin: 20px 0 20px 0;
    height: 300px !important;
    width: 300px !important;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    background-color: $white;
    overflow: hidden;
}

.container_loot hr {
    margin: 10px 0 0 0;
    width: 100%;
    border: 1px solid $black;
    border-color: $black;
}

.wrapper_header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    background-color: $white;
    z-index: 1;
}

.wrapper_header h1:nth-child(1) {
    width: 100% !important;
    text-align: center !important;
}

.wrapper_header h1 {
    font-family: $font-LeagueSpartan;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0 10px 0;
}

.flex_all_loot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

#score_loot {
    font-size: 18px !important;
}

#unlock_loot {
    font-size: 18px !important;
    color: $orange;
}

#unlock_loot i {
    color: $red-orange;
    margin-left: 5px;
    font-size: 16px !important;
}

.container_img_loot {
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_img_loot img {
    width: 100%;
    height: 100%;
    filter: blur(2px);
}

.container_img_loot button {
    background-color: $white;
    position: absolute;
    z-index: 20000;
    cursor: pointer;
    padding: 8px 10px;
    border: 1px solid $black;
    border-radius: 54px;
}

.container_img_loot.lock i {
    font-size: 60px;
    z-index: 10;
    color: $dark-blue !important;
}

.container_img_loot.lock {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.3;
}

.reaction_span {
    font-size: 1rem !important;
    font-family: $font-LeagueSpartan !important;
    margin-right: 2px !important;
}

.container_contents_user_prof {
    // background-color: red;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container_contents_user_prof span {
    font-size: 1rem !important;
    color: $red-orange !important;
    width: 100%;
    margin: 30px 15px 0px 15px;
}

.container_contents_user_prof h2 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-family: $font-LeagueSpartan;
    font-size: 20px;
    margin: 15px 0 10px 0;
}

.container_contents_user_prof h1 {
    font-size: 22px;
    font-family: $font-LeagueSpartan;
    font-weight: 700;
    margin-bottom: 20px;
}

.container_contents_user_prof input {
    width: 100%;
    padding: 10px;
    border-radius: 54px;
    border: none;
    margin: 0 10px 15px 10px;
    background-color: $grey;
    border: 1px solid $grey;
}

.container_contents_user_prof input:focus,
.container_contents_user_prof textarea:focus {
    border-color: $orange;
}

.container_contents_user_prof button {
    padding: 8px 16px 8px 16px;
    border-radius: 54px;
    border: none;
    background-color: $green;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    cursor: pointer;
}

.container_contents_user_prof textarea {
    width: 100%;
    border-radius: 18px;
    background-color: $grey;
    resize: none;
    border: 1px solid $grey;
    padding: 10px;
    margin: 0 10px 15px 10px;
}

.container_contents_user_prof textarea::-webkit-scrollbar {
    display: none;
}

.container_all_ville {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}

.container_all_ville p {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    font-weight: 700;
    border-top: 1px solid $grey;
}

.container_all_ville p:hover {
    background-color: $grey;
    cursor: pointer;
}

.container_all_pdp {
    margin: 15px 10px 20px 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_all_pdp h3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
}

.container_all_pdp h3:hover {
    background-color: $orange;
    cursor: pointer;
    color: $white;
}

.container_all_pdp h3.selected {
    background-color: #007bff !important;
    color: $white !important;
}

.container_img_rec {
    background-color: red;
    display: flex;
}

@media(max-width:650px),
(max-height:450px) {
    .container_btns_settings {
        display: flex;
        justify-content: center;
        gap: 60px;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 50px 0 50px;
    }
}