.content_user_profil {
    width: 80%;
    position: relative;
    left: 20%;
    padding-top: 30px;
    padding-bottom: 40px;
}

.container_btns_settings {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px 0 50px;
}

.container_btns_settings button {
    width: 200px;
    padding: 15px;
    border-radius: 54px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.container_btns_settings button:nth-child(2) {
    background-color: $green;
    color: $white;
}

.container_btns_settings button:nth-child(3) {
    background-color: $yellow;
    color: $white;
}

.container_btns_settings button:nth-child(5) {
    background-color: $blue;
    color: $white;
}

.container_btns_settings button:nth-child(4) {
    width: 250px !important;
    background-color: $red-orange;
    color: $white;
}

.container_dropdown_for_settings {
    width: 200px;
}

.container_mypost_tomap {
    margin: 0 100px 0 100px;
}

.container_2_home_loader.formypost {
    height: 200px !important;
}