.container_nice_form {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_nice {
    background-color: $white;
    width: 70%;
    height: 500px;
    border-radius: 8px;
}

.container_inputs_nice {
    margin-left: 15%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.title_nice_form h1 {
    font-family: $font-LeagueSpartan;
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    margin: 50px;
}

.title_nice h1 {
    font-family: $font-LeagueSpartan;
    color: $grey;
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    margin: 50px;
}

.title_nice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_nice button{
    width: 150px;
    padding: 8px;
    background-color: $green;
    border: none;
    color: $grey;
    border-radius: 8px;
}

.max_width {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slash_eye {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-height: 630px) {
    .form_nice {
        height: 300px;
    }

    .container_inputs_nice {
        margin-top: 0;
    }

    .title_nice_form h1 {
        margin: 10px;
        margin-top: 25px;
    }
}

@media (max-height: 333px) {
    .form_nice {
        height: 250px;
    }

    .container_inputs_nice {
        margin-top: 0;
    }

    .title_nice_form h1 {
        margin: 0;
        margin-top: 5px;
    }
}