.container_1_home {
    width: $width-navbar-home;
}

.container_2_home {
    width: $width-feed;
    padding-bottom: 30px;
}

.container_2_home_loader {
    width: 100%;
    height: 60vh;
}

.spacing {
    width: 100%;
    margin-top: 80px;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container_3_home {
    width: $width-pub;
    height: 0;
    position: sticky;
    top: 0;
    bottom: 0;
}

.main_container_home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.container_bye {
    position: fixed;
    width: 100%;
    height: 7vh;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, $white, transparent);
    z-index: 4000;
}

.pub1 {
    background-color: violet;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50vh;
    margin-left: 5%;
    margin-top: 120px;
}

.pub2 {
    background-color: lightcoral;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30vh;
    margin-left: 5%;
    margin-top: 10px;
}

.pub3 {
    background-color: lightgreen;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20vh;
    margin-left: 5%;
    margin-top: 10px;
}

@media(max-width:650px),
(max-height:450px) {

    .container_3_home,
    .container_1_home {
        display: none;
    }

    .container_2_home {
        width: 80%;
    }

    .container_bye {
        height: 3vh;
    }

}