.container_1_home {
    width: $width-navbar-home;
}

.container_2_home {
    width: $width-feed;
    position: relative;
    z-index: 1;
}

.container_2_home_loader {
    width: 100%;
    height: 60vh;
}

.spacing {
    width: 100%;
    margin-top: 90px !important;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container_3_home {
    width: $width-pub;
    height: 0;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 700;
}

.main_container_home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.container_bye {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, $white, transparent);
    z-index: 4000;
}

.pub1 {
    position: relative;
    border-radius: 18px;
    width: 100%;
    height: 500px;
    // margin-left: 5%;
    margin-top: 120px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pub1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E3EE05;
    opacity: 0.5;
    //  margin-top: 5px;
}

.pub1::after {
    content: "";
    background: url(../../media/img/marche.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(40%) blur(2px) saturate(150%) contrast(1.5);
    z-index: -1;
    margin-top: 5px;
}

.text_pub {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text_pub2 {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text_pub2 img {
    width: 200px;
    max-width: 300px;
}

.text_pub h1 {
    font-family: $font-LeagueSpartan;
    font-weight: 700;
    font-size: 35px;
    color: $dark-blue;
    text-align: center;
    width: 100%;
    margin: 0 10px 0 10px;
}

.text_pub button {
    padding: 5px 15px 5px 15px;
    border-radius: 54px;
    border: none;
    background-color: $green;
    color: $dark-green;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px;
    margin: 0 5px 0 5px;
}


.pub2 {
    position: relative;
    border-radius: 18px;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pub2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $blue;
    opacity: 0.5;
}

.pub2::after {
    content: "";
    background: url(../../media/img/map.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(40%) blur(2px) saturate(150%) contrast(1.5);
    z-index: -1;
}

.button-54 {
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: $black;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.container_bottom_map_ad {
    text-align: center;
    margin: 0 10px 0 10px;
}

.container_bottom_map_ad h1 {
    margin-bottom: 20px;
    width: 100%;
    font-family: $font-LeagueSpartan;
    font-weight: 700;
    font-size: 30px;
}

.padding_for_bottom_fix {
    padding-bottom: 30px !important;
}

.container_tuto_newUser {
    background-color: $white;
    position: relative;
    width: 97.1%;
    left: 1.4%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    animation: appear 0.6s ease;
    padding: 10px;
    margin-top: 10px;
}

.container_title_newUser h1 {
    text-align: center;
    font-size: 22px;
    font-family: $font-LeagueSpartan;
    font-weight: 700;
    margin-top: 10px;
}

.container_title_newUser h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    font-family: $font-LeagueSpartan;
    color: $dark-grey;
    margin-top: 10px;
}

.container_step_to_newUser {
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow-x: auto;
    gap: 20px;
}

.container_step_to_newUser div:nth-child(1) {
    width: 250px;
    height: 250px;
    background-color: $green;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
}

.container_step_to_newUser img {
    width: 50%;
    height: 120px;
    margin: 20px 0 5px 25%;
}

#force_cursor {
    cursor: pointer !important;
    margin-top: 15px !important;
    font-weight: 700 !important;
    font-style: italic !important;
}

#force_cursor:hover {
    text-decoration: underline;
}

#force_margin {
    margin-top: 45px !important;
}

.container_step_to_newUser h2 {
    text-align: center;
    font-weight: 700;
    margin: 10px 10px 0 10px;
    color: $white;
}

.container_step_to_newUser h3 {
    text-align: center;
    font-weight: 700;
    margin: 0 10px 0 10px;
    color: $white;
}

.container_step_to_newUser h4 {
    text-align: center;
    font-weight: 700;
    margin: 0 10px 0 10px;
    font-size: 14px;
    margin-top: 20px;
    color: $black;
}

.container_step_to_newUser h5 {
    text-align: center;
    font-weight: 700;
    margin: 0 10px 0 10px;
    font-size: 14px;
    margin-top: 20px;
    color: $black;
}

.container_step_to_newUser button {
    cursor: pointer;
    width: 50%;
    padding: 6px 15px 6px 15px;
    border-radius: 54px;
    border: none;
    color: $black;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
    margin-left: 25%;
}

#fix_img {
    padding-right: 10px !important;
}

.container_step_to_newUser div:nth-child(2) {
    width: 250px;
    height: 250px;
    background-color: $orange;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
}

.container_step_to_newUser div:nth-child(3) {
    width: 250px;
    height: 250px;
    background-color: $blue;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
}

.container_step_to_newUser div:nth-child(4) {
    width: 250px;
    height: 250px;
    background-color: $red-orange;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
}

.container_step_to_newUser div:nth-child(5) {
    width: 250px;
    height: 250px;
    background-color: $yellow;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px;
}

.container_titles_beforeLogin {
    background-color: $white;
    padding: 60px 20px 20px 20px;
    text-align: center;
    border-bottom: 1px solid $dark-grey;
}

.container_all_ville.forAppjs {
    height: 100% !important;
    overflow-y: auto !important;
}

@media (max-width: 1250px) {
    .pub1 {
        height: 300px !important;
    }

    .pub2 {
        height: 300px !important;
    }

    .text_pub h1 {
        font-size: 24px;
    }

    .container_bottom_map_ad h1 {
        font-size: 24px;
    }

    .text_pub2 img {
        width: 110px;
    }

    .text_pub button {
        font-size: 14px;
        margin: 0 10px 0 10px;
    }
}


@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

@media(max-width:650px),
(max-height:450px) {

    .container_3_home,
    .container_1_home {
        display: none;
    }

    .container_2_home {
        width: 80%;
    }

    .container_bye {
        height: 30px;
    }

}