.container_map_page {
    position: absolute;
    width: 80%;
    left: 20%;
    margin-top: 90px;
}

.container_map_gg {
    width: 95%;
    margin-left: 2.5%;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
}