.test {
    height: 110vh;
    width: 100%;
    background-color: red;
    background-image: url('../../media/img/test.png');
}

.test2 {
    background-color: lightpink;
    width: 100%;
    display: flex;
    justify-content: center;
}