body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  outline: none !important;
}

.userProfile {
  width: 90%;
  height: 90%;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.ms-nav-container {
  position: absolute;
  width: 100%;
  height: 100vh;
}

#ms-menu {
  display: none;
}

.ms-nav {
  position: fixed;
  top: 12%;
  right: 4%;
}

.ms-nav > .ms-main {
  position: relative;
}

.ms-nav > .ms-li {
  position: absolute;
  top: 10px;
  right: 8px;
  transition: top 0.5s ease;
  z-index: 1;
}

.ms-menu-toggle-lbl {
  cursor: pointer;
}

.ms-nav-point {
  opacity: 1;
  position: absolute;
  border-radius: 100%;
  background-color: #69B8ED;
  top: 50px;
  right: 30%;
  width: 8px;
  height: 8px;
}

//----------------li1-----------------//

.ms-nav .ms-menu-toggle:checked ~ .ms-li a {
  box-shadow: 0px 5px 10px #333333;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li1 {
  top: 150%;
  transition: top 0.5s ease;
}

$child-count: 15; // Nombre d'enfants de .ms-nav-point

.ms-nav .ms-menu-toggle:checked ~ .ms-nav-point {
  top: 110%;
  transition: top 0.7s ease;
}

@for $i from 1 through $child-count {
  $top: random(350); // Valeur aléatoire pour le top (de 0 à 50)
  $left: random(50); // Valeur aléatoire pour la position left (de 0 à 100)
  $size: random(40) + 10; // Valeur aléatoire pour la taille (de 10 à 30)

  .ms-nav .ms-menu-toggle:checked ~ .ms-nav-point:nth-child(#{$i}) {
    top: calc(110% + #{$top}%);
    left: calc(#{$left}% - 2%);
    width: #{$size}px;
    height: #{$size}px;
    animation: fadeOut 1s ease calc(0.5s + (#{$i} * 0.1s)) forwards;
    z-index: -1;
  }
}

.ms-nav .ms-menu-toggle:checked ~ .ms-li1 a span {
  opacity: 1;
  transition: opacity 0.5s ease 0.1s;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-main:after {
  animation: big-border-top-animation 0.5s ease 0.1s;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li1:before {
  animation: border-top-animation 0.5s ease 0.2s;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li1:after {
  animation: border-top-animation 0.5s ease 0.2s;
}

//----------------li2-----------------//

.ms-nav .ms-menu-toggle:checked ~ .ms-li2 {
  top: 265%;
  transition: top 0.6s ease;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li2 a span {
  opacity: 1;
  transition: opacity 0.7s ease 0.2s;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li2:before {
  animation: border-top-animation 0.5s ease 0.2s;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li2:after {
  animation: border-top-animation 0.5s ease 0.3s;
}

//----------------li3-----------------//

.ms-nav .ms-menu-toggle:checked ~ .ms-li3 {
  top: 380%;
  transition: top 0.8s ease;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li3 a span {
  opacity: 1;
  transition: opacity 0.7s ease 0.3s;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li3:before {
  animation: border-top-animation 0.5s ease 0.3s;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li3:after {
  animation: border-top-animation 0.5s ease 0.4s;
}

//----------------li4-----------------//

.ms-nav .ms-menu-toggle:checked ~ .ms-li4 {
  top: 495%;
  transition: top 0.9s ease;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li4 a span {
  opacity: 1;
  transition: opacity 0.8s ease 0.4s;
}
.ms-nav .ms-menu-toggle:checked ~ .ms-li4:before {
  animation: border-top-animation 0.5s ease 0.4s;
}

//----------------when toggle-----------------//

.ms-nav .ms-menu-toggle ~ .ms-li:before {
  content: "";
  width: 45px;
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 0px solid #337ab7;
}
.ms-nav .ms-menu-toggle ~ .ms-li:before {
  content: "";
  width: 45px;
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 0px solid #337ab7;
}

.ms-nav .ms-menu-toggle:checked ~ .ms-li-last:after {
  content: "";
  width: 45px;
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid #337ab7;
}

//----------------li main-----------------//

.ms-nav > .ms-main > a {
  box-shadow: 0px 5px 10px #333333;
}
.ms-nav > li a {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(90deg, #8a55fd, #5cdee6);
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 100%;
  position: relative;
  text-align: center;
}

.ms-nav > .ms-main a,
.ms-nav > .ms-main > a > label {
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(90deg, #8a55fd, #5cdee6);
  width: 75px;
  height: 75px;
  display: block;
  border-radius: 100%;
  position: relative;
  text-align: center;
  z-index: 19;
}

.ms-nav > .ms-main > a > label > h3 {
  position: relative;
  top: 5%;
  color: #333333;
  text-decoration: none;
  font-size: 20px;
  font-family: $font-LeagueSpartan;
}

.ms-nav > li > a span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  height: 30px;
  width: 30px;
  opacity: 0;
  z-index: 12;
}

//----------------BreakPoint-----------------//

/* Styles pour les écrans de taille supérieure à 1200px */
@media (min-width: 1200px) {
  .ms-nav > li a {
    font-size: 30px;
    width: 60px;
    height: 60px;
  }

  .ms-nav > .ms-main a,
  .ms-nav > .ms-main > a > label {
    font-size: 30px;
    width: 75px;
    height: 75px;
  }

  .ms-nav > .ms-main > a > label > h3 {
    font-size: 20px;
  }

  .ms-nav > li > a span {
    height: 30px;
    width: 30px;
  }
}

/* Styles pour les écrans de taille comprise entre 992px et 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .ms-nav > li a {
    font-size: 25px;
    width: 50px;
    height: 50px;
  }

  .ms-nav > .ms-main a,
  .ms-nav > .ms-main > a > label {
    font-size: 25px;
    width: 65px;
    height: 65px;
  }

  .ms-nav > .ms-main > a > label > h3 {
    font-size: 18px;
  }

  .ms-nav > li > a span {
    height: 25px;
    width: 25px;
  }
}

/* Styles pour les écrans de taille comprise entre 768px et 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .ms-nav > li a {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }

  .ms-nav > .ms-main a,
  .ms-nav > .ms-main > a > label {
    font-size: 20px;
    width: 55px;
    height: 55px;
  }

  .ms-nav > .ms-main > a > label > h3 {
    font-size: 16px;
  }

  .ms-nav > li > a span {
    height: 20px;
    width: 20px;
  }
}

/* Styles pour les écrans de taille inférieure à 767px */
@media (max-width: 767px) {
  .ms-nav > li a {
    font-size: 15px;
    width: 30px;
    height: 30px;
  }

  .ms-nav > .ms-main a,
  .ms-nav > .ms-main > a > label {
    font-size: 15px;
    width: 45px;
    height: 45px;
  }

  .ms-nav > .ms-main > a > label > h3 {
    font-size: 12px;
  }

  .ms-nav > li > a span {
    height: 15px;
    width: 15px;
  }
}

//----------------KeyFrame-----------------//

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes border-top-animation {
  0% {
    top: 0px;
  }
  50% {
    top: -14px;
  }
  100% {
    top: 0px;
  }
}
@keyframes border-top-animation {
  0% {
    top: 0px;
  }
  50% {
    top: -13px;
  }
  100% {
    top: 0px;
  }
}
@keyframes big-border-top-animation {
  0% {
    top: 0px;
  }
  50% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}
