.container_logo_chatbot {
  background: linear-gradient(to top, #8c52ff, #5ce1e5);
  z-index: 999990;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_logo_chatbot:hover {
  cursor: pointer;
}

.container_logo_chatbot i {
  color: $white;
  font-size: 2rem;
}

.toCenter {
  width: 20% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_chatbot_chat {
  left: 5%;
  position: fixed;
  bottom: -100%;
  width: 400px;
  height: 550px;
  z-index: 1000000;
  border-radius: 14px;
  overflow: hidden;
  transition: bottom 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: linear-gradient(to top, #5ce1e5, #8c52ff);
  overflow-y: scroll;
  margin-bottom: 120px;
}

.container_chatbot_chat::-webkit-scrollbar {
  display: none;
}

.container_chatbot_chat.open {
  bottom: 0;
}

.container_send_msg_chatbot {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.container_title_msg_chatbot {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
}

.center_forchatbot {
  background-color: $white;
  padding: 10px;
  border-radius: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container_send_msg_chatbot input {
  background-color: transparent;
  border: none;
  width: 80%;
  height: 100%;
}

.container_send_msg_chatbot i {
  font-size: 1.5rem;
  color: $dark-grey;
  width: 20%;
  text-align: center;
}

.container_send_msg_chatbot i {
  cursor: pointer;
}

.container_title_msg_chatbot h1 {
  font-weight: 700;
}

.center_forchatbot i {
  font-size: 10px;
  color: $green;
}

.container_forphone_navbar_chatbot {
  display: none;
  position: fixed;
  background: linear-gradient(to top, $red-orange, $orange);
  width: 60px;
  text-align: center;
  top: 60px;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 999999;
}

.container_forphone_navbar_chatbot i {
  color: $white;
  font-size: 1.2rem;
}

.chatbot_toslide {
  display: none;
  background: linear-gradient(to top, #5ce1e5, #8c52ff);
  position: fixed;
  width: 0px;
  height: 100vh;
  overflow: hidden;
  transition: width 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999998;
}

.chatbot_toslide.open {
  width: 100%;
}

.center_forchatbot.forPhone {
  max-width: 200px !important;
  margin: 10px;
}

.center_forchatbot.forPhone h1 {
  font-weight: 700;
}

.center_forchatbot.forPhone i {
  color: $green;
}

.chatbot_message_containt {
  --receive-bg: $white;
  --receive-text: $black;
  --page-background: white;
  --background-chat-color: #f0f8ff;
  --chat_footer: #f0f8ff;
  --chat_header: #f0f8ff;
  --chat_sidebar: #f0f8ff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1000000;
}

.chatbot_image {
  position: relative;
  align-self: flex-end;
  margin: 1.5%;
  margin-left: 3%;
  width: 13%;
  max-width: 70px;
  height: 13%;
  max-height: 70px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  z-index: 1000001;
}

.chatbot_text {
  font-family: "Helvetica Neue", Helvetica, sans-serif !important;
  position: relative;
  font-size: 20px;
  font-weight: normal;
  width: 100%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background-chat-color);
  border-radius: 40px;
}

.chatbot_text p {
  background: var(--receive-bg);
  color: black;
  align-self: center;
  color: var(--receive-text);
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;

  &:before {
    left: -7px;
    width: 20px;
    background-color: var(--receive-bg);
    border-bottom-right-radius: 16px 14px;
    z-index: 1000000;
  }

  &:after {
    left: -26px;
    width: 26px;
    background: var(--background-chat-color);
    border-bottom-right-radius: 10px;
    z-index: 1000000;
  }
}

.chatbot_logo_message {
  background: linear-gradient(to top, #8c52ff, #5ce1e5);
  margin-top: 10px;
  margin-right: 8px;
  z-index: 999990;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot_logo_message i {
  color: $white;
}

.chatbot_first_buttons {
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 7px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.chatbot_first_button {
  margin-top: 7px;
  margin-right: 6px;
  border-radius: 20px;
  border: 1px solid $blue;
  padding-right: 11px;
  padding-left: 11px;
  padding-bottom: 2px;
  padding-top: 2px;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}


@media (max-width: 1600px) {
  .chatbot_text p {
    font-size: 14px;
  }
  .container_logo_chatbot {
    height: 60px;
    width: 60px;
  }

}

@media (max-height: 700px) {

  .container_chatbot_chat {
    left: 250px;
    margin-bottom: 20px;
    width: 300px;
    height: 420px;
  }

  .toCenter {
    justify-content: left;
    margin-left: 5%;
  }
}

@media (max-width: 650px), (max-height: 450px) {
  .chatbot_text p {
    font-size: 20px;
  }

  .container_chatbot_chat,
  .container_logo_chatbot {
    display: none;
  }

  .chatbot_toslide,
  .container_forphone_navbar_chatbot {
    display: block;
  }
}
