.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0;
    animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: $white;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 600px;
    max-height: 600px;
}

.modal-content button {
    margin-top: 10px;
}

body.modal-open {
    overflow: hidden;
}

.container_x {
    width: 100%;
    text-align: right;
    color: $dark-grey;
}

.container_x i {
    cursor: pointer;
}

.modal_content_left {
    height: 250px;
    width: 60%;
    overflow-y: scroll;
}

.modal_content_left::-webkit-scrollbar {
    display: none;
}

.modal_content_right {
    width: 40%;
}

.wrapper_popup {
    display: flex;
    gap: 15px;
}

.modal_content_right #publish {
    padding: 5px 10px;
    border-radius: 54px;
    background-color: $violet;
    color: $white;
    border: none;
    margin-top: 40px;
    transition: all 0.2s;
}

.modal_content_right #publish:hover {
    background-color: $red-orange;
    cursor: pointer;
}

#simple_textarea {
    width: 100%;
    height: 60px;
    border: none;
    resize: none;
}

#simple_textarea::placeholder {
    font-size: 18px;
    font-weight: 300;
}

.btn_lieu {
    display: flex;
    gap: 15px;
    align-items: center;
    color: $orange;
    font-weight: 700;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 2px;
}

.btn_adrr {
    background-color: transparent;
    padding: 10px;
    border: none;
    width: 100%;
    margin-bottom: 30px;
    margin-left: -5px !important;
}

.btn_adrr::placeholder {
    font-weight: 300;
    color: $dark-grey;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label i {
    font-size: 22px;
    margin-right: 10px;
}

.inputfile+label {
    color: white;
    background-color: $green;
    display: flex;
    width: 250px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 54px;
    margin-bottom: 20px;
}

.error_msg {
    color: $red-orange;
    width: 100%;
    padding: 10px;
}

#title_popup {
    background-color: transparent;
    padding: 10px;
    border: none;
    width: 90%;
}

#title_popup::placeholder {
    color: $dark-grey;
    font-weight: 300;
}

#price_popup {
    padding: 10px;
    background-color: transparent;
    border: none;
    width: 90%;
}

#price_popup::placeholder {
    color: $dark-grey;
    font-weight: 300;
}

#simple_textarea_des {
    width: 100%;
    height: 60px;
    border: none;
    resize: none;
    padding: 10px;
    padding-left: 15px !important;
}

#simple_textarea_des::placeholder {
    font-weight: 300;
    color: $dark-grey;
}

#date_debut_popup {
    padding: 5px 10px;
    border-radius: 54px;
    border: none;
    background-color: $blue;
    color: $white;
}

#date_fin_popup {
    padding: 5px 10px;
    border-radius: 54px;
    border: none;
    background-color: $yellow;
    color: $white;
    margin-bottom: 20px;
}

#label_date {
    margin: 5px 10px;
}

@media(max-width:580px) {

    .wrapper_popup {
        flex-wrap: wrap;
    }

    .modal_content_left,
    .modal_content_right {
        width: 100%;
    }
}