.container_rebar {
    width: 100%;
    background-color: $grey;
    border-radius: 54px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container_rebar input {
    width: 90%;
    border: none;
    font-size: 1rem;
    padding-left: 20px;
    background-color: transparent;
}

.container_rebar i {
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 10px;
    color: $dark-grey;
}

.container_rebar i:hover {
    cursor: pointer;
}

.toHideFeed {
    position: fixed;
    left: 25%;
    width: 50%;
    background-color: $white;
    z-index: 99900;
    padding-bottom: 10px;
}

@media(max-width:1600px) {
    .container_rebar {
        margin-top: 35px;
    }
}

@media(max-width:650px) {
    .container_rebar {
        width: 70%;
        margin-left: 15%;
    }

    .toHideFeed {
        width: 100%;
        left: 0;
    }
}